<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pago Paypal</title>
    <link rel="stylesheet" href="css/pago.css">
    <link rel="apple-touch-icon" sizes="57x57" href="/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
    <link rel="manifest" href="/icon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/icon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
<div id="paypal_confi">
    <h1>Registra tu compra</h1>
    <table>
        <tr><td><input type="text" v-model="paypal.nombre" name="nombre" placeholder="Nombre"></td></tr>
        <tr><td><input type="text" v-model="paypal.apellidos" name="apellido" placeholder="Apellidos"></td></tr>
        <tr><td><input type="date" v-model="paypal.fecha" name="fecha_asesoria"  min="2018-01-01" max="2020-12-31"></td></tr>
        <tr><td><input type="text" v-model="paypal.pais" name="pais" placeholder="Pais"></td></tr>
        <tr><td><input type="text" v-model="paypal.ciudad" name="ciudad" placeholder="Ciudad"></td></tr>
        <tr><td><input type="text" v-model="paypal.telefono" name="telefono" placeholder="Telefono"></td></tr>
        <tr><td><input type="text" v-model="paypal.id_paquete" name="id_paquete" placeholder="ID Paquete"></td></tr>
        <tr><td><a href="http://localhost:8080/confirmacionpagos.html"><input type="button" v-on:click="confirmar" name="confirmacion" value="Confirmar Pago"></a></td></tr>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/script_paypal_confirmacion.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>