<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pago por PayPal</title>
    <link rel="stylesheet" href="css/pago.css">
    <link rel="apple-touch-icon" sizes="57x57" href="/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
    <link rel="manifest" href="/icon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/icon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <!----------------------------------------------------------------------------------------------->
    <!----------------------------------------------------------------------------------------------->
    <!----------------------------------------------------------------------------------------------->

    <div id="paypal">

        <template v-if="sesion==false">
            <header>
                <h1>PayPal</h1>
            </header>

            <table>
                <tr><td><input v-model="usuarioRequest.username" type="text" placeholder="Correo Electronico"></td></tr>
                <tr><td><input v-model="usuarioRequest.password" type="password" name="contrasena" placeholder="Contraseña"></td></tr>
                <tr><td><input v-on:click="ingresar" href="/pagopaypal2.html" type="button" name="iniciarsesion" value="Iniciar Sesion"></td></tr>
            </table>
        </template>

        <template v-if="sesion==false && contador>0">
            <h3 style="color:#FF0000">Ingrese de nuevo, corrreo o contraseña incorrecta</h3>
        </template>

        <template v-if="sesion==true" >
            <button v-on:click="comprar" href="/pagopaypal2.html">Empieza a navegar</button>
        </template>
    </div>

    <!----------------------------------------------------------------------------------------------->
    <!----------------------------------------------------------------------------------------------->
    <!----------------------------------------------------------------------------------------------->

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/script_paypal.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!----------------------------------------------------------------------------------------------->
    <!----------------------------------------------------------------------------------------------->
    <!----------------------------------------------------------------------------------------------->
</body>
</html>