<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Registro|Asesor</title>
    <link rel="stylesheet" href="css/registro.css">
    <link rel="apple-touch-icon" sizes="57x57" href="/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
    <link rel="manifest" href="/icon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/icon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>

<body>

    <h1>Registrate y usa tus conocimientos para ganar recursos</h1>
    <div id="registro" align="center">
        <table  style="text-align:center">
            <tr>
                <td><label style="color:#FFFFFF">Nombre: </label></td>
            </tr>
            <tr>
                <td><input type="text" v-model="profe.nombre" placeholder="Nombre" class="field"></td>
            </tr>
            <tr>
                <td><label style="color:#FFFFFF">Apellido: </label></td>
            </tr>
            <tr>
                <td><input type="text" v-model="profe.apellido" placeholder="Apellidos" class="field"></td>
            </tr>
            <tr>
                <td><label style="color:#FFFFFF">Correo Electronico: </label></td>
            </tr>
            <tr><td><input type="text" v-model="profe.correo" placeholder="Correo eletronico" class="field"></td>
            </tr>
            <tr>
                <td><label style="color:#FFFFFF">Telefono: </label></td>
            </tr>
            <tr>
                <td><input type="text" v-model="profe.telefono" placeholder="Telefono" class="field"></td>
            </tr>

        </table>
        <table>
            <tr>
                <td style="color:#FFFFFF">Su contraseña sera su numero de telefono</td>
            </tr>
        </table>

        <form class="parrafos">
            <p><b>Al Crear una Cuenta, estás accediendo a los Condiciones de servicio y código de honor y reconoces que
                    FIISesorías y todos sus miembros, pueden procesar tu datos personales de acuerdo a la Politica de
                    Privacidad </b></p>
            <p><input type="checkbox" id="checkbox"><b>Ayuda a la investigación académica brindando más información</b>
            </p>


        </form>

        <a href="ingresarp.html"><input type="button" v-on:click="registrar" value="Crear cuenta" /></a>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/script_regp.js"></script>
</body>

</html>